{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ====== Hero Start ====== -->
    <section class="ud-hero" id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
                        <h1 class="ud-hero-title">
                            LV Process & Investigations
                        </h1>
                        <p class="ud-hero-desc">
                            Process Done Right. Process Done Family.
                        </p>
                        
                        <!--<ul class="ud-hero-buttons">
                            <li>
                                <a href="https://links.uideck.com/play-bootstrap-download" rel="nofollow noopener" target="_blank" class="ud-main-btn ud-white-btn">
                                    Download Now
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/uideck/play-bootstrap" rel="nofollow noopener" target="_blank" class="ud-main-btn ud-link-btn">
                                    Learn More <i class="lni lni-arrow-right"></i>
                                </a>
                            </li>
                        </ul>-->
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== Hero End ====== -->
    <section id="stuff" class="" style="padding-bottom:30px; box-shadow: 0px -55px 75px #662e90;">
        <div class="container" class="under-shadow">
            <div class="row g-0 justify-content-center" >
                <div style="height: 10px;"></div>
                <div class="col-lg-3 col-md-6 col-xs-10">
                    <a style="color: #637381;" onmouseover="heroHighlightOn('services')" onmouseleave="heroHighlightOff('services')" href="{% url 'pricing' %}">
                        <div style="margin-top: 10px; margin-bottom: -10px; border-radius:20px" id="services" 
                            class="ud-single-pricing first-item wow fadeInUp" data-wow-delay=".15s">
                            <div class="ud-pricing-header">
                                <h4 ><b>SERVICES</b></h4>
                            </div>
                            <div class="ud-pricing-divider noselect">
                                <img src=" {% static 'website/images/divider.png' %} " alt="divide" />
                            </div>
                            <ul>
                                <li>Learn more about our services provided at LVPI.</li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="col-lg-1 ud-pricing-vert-divider noselect" style=" margin-bottom: -20px;">
                    <img src=" {% static 'website/images/vert-divider.png' %} " alt="divide" />
                </div>
                <div class="col-lg-3 col-md-6 col-sm-10">
                    <a style="color: #637381;" onmouseover="heroHighlightOn('feeSchedule')" onmouseleave="heroHighlightOff('feeSchedule')" href="{% url 'pricing' %}">
                        <div style="margin-top: 10px; margin-bottom: -10px; border-radius:20px" id="feeSchedule" 
                            class="ud-single-pricing first-item wow fadeInUp" data-wow-delay=".15s">
                            <div class="ud-pricing-header">
                                <h4><b>FEE SCHEDULE</b></h4>
                            </div>
                            <div class="ud-pricing-divider noselect">
                                <img src=" {% static 'website/images/divider.png' %} " alt="divide" />
                            </div>
                            <ul>
                                <li>View our fee schedule for the pricing of our services.</li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="col-lg-1 ud-pricing-vert-divider noselect" style=" margin-bottom: -20px;">
                    <img src=" {% static 'website/images/vert-divider.png' %} " alt="divide" />
                </div>
                <div class="col-lg-3 col-md-6 col-sm-10">
                    <a style="color: #637381;" onmouseover="heroHighlightOn('contactUs')" onmouseleave="heroHighlightOff('contactUs')" href="{% url 'contact' %}">
                        <div style="margin-top: 10px; margin-bottom: -10px; border-radius:20px" id="contactUs" 
                            class="ud-single-pricing first-item wow fadeInUp" data-wow-delay=".15s">
                            <div class="ud-pricing-header">
                                <h4><b>CONTACT US</b></h4>
                            </div>
                            <div class="ud-pricing-divider noselect">
                                <img src=" {% static 'website/images/divider.png' %} " alt="divide" />
                            </div>
                            <ul>
                                <li>Call 702.592.3283 or email info@lvprocess.com</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <script>
        function heroHighlightOn(str) {
            document.getElementById(str).style.background = "#ECF0F1";
        }

        function heroHighlightOff(str) {
            document.getElementById(str).style.background = "none";
        }
    </script>

    <!-- ====== Features Start ====== -->
    <section id="features" class="ud-features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ud-section-title">
                        <span>We're not like any other processors</span>
                        <h2>How We're Different</h2>
                        <p>
                            We provided legal services in Nevada, and nationwide. We are committed to our clients 
                            by offering an array of legal services in a fast, accurate, and efficient manner. LVPI 
                            will take on your service of process request and work with efficiency and 
                            professionalism to ensure prompt and stress-free service of all documents. All of our
                            services are provided with a meticulous attention to detail. We are committed to keep
                            you informed on the status of your orders, letting you know of all attempts, when it 
                            was served or if there are any problems we may encounter.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="ud-single-feature wow fadeInUp" data-wow-delay=".1s">
                        <div class="ud-feature-icon">
                            <i class="lni lni-files"></i>
                        </div>
                        <div class="ud-feature-content">
                            <h3 class="ud-feature-title">Process Serving</h3>
                            <p class="ud-feature-desc">
                                delivery of a set or series of documents describing the legal action.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="ud-single-feature wow fadeInUp" data-wow-delay=".15s">
                        <div class="ud-feature-icon">
                            <i class="lni lni-magnifier"></i>
                        </div>
                        <div class="ud-feature-content">
                            <h3 class="ud-feature-title">Skip Tracing</h3>
                            <p class="ud-feature-desc">
                                collecting information on a hard-to-find individual in order to locate them.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="ud-single-feature wow fadeInUp" data-wow-delay=".2s">
                        <div class="ud-feature-icon">
                            <i class="lni lni-notepad"></i>
                        </div>
                        <div class="ud-feature-content">
                            <h3 class="ud-feature-title">Due Diligence</h3>
                            <p class="ud-feature-desc">
                                proper and thorough documentation of the entire process.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
                        <div class="ud-feature-icon">
                            <i class="lni lni-database"></i>
                        </div>
                        <div class="ud-feature-content">
                            <h3 class="ud-feature-title">Public Records Searches</h3>
                            <p class="ud-feature-desc">
                                variety of records we can sift through to meet your needs.
                            </p>
                        </div>
                    </div>
                </div>
                <ul style="align-self: center; text-align: center;" class="ud-white-btn">
                    <li>
                        <a href="{% url 'order' %}" rel="nofollow noopener" target="_blank" class="ud-main-btn ud-link-btn">
                            Place order <i class="lni"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- ====== Features End ====== -->
    <!-- ====== About Start ====== -->
    <section id="about" class="ud-about">
        <div class="container">
            <div class="ud-about-wrapper wow fadeInUp" style="border-radius: 10px" data-wow-delay=".2s">
                <div class="ud-about-content-wrapper">
                    <div class="ud-about-content">
                        <span class="tag">About Us</span>
                        <h2>A Family Owned Business Dedicated to You.</h2>
                        <p>
                            We are a family owned business founded by Genice Rojas originating from northern Las Vegas, Nevada.
                            Rojas started this company with a crew consisting of her daughters and family friends to meet 
                            your process serving and investigative needs. We pride ourselves on our work ethics that promote
                            getting things done as effectively and efficiently as possible.                            
                        </p>
                    </div>
                </div>
                <div class="ud-about-image" style="padding: 5%;">
                    <img style="max-height: 400px; width: auto;" src="{% static 'website/images/logo/logo.png' %}" alt="about-image">
                </div>
            </div>
        </div>
    </section>
    <!-- ====== About End ====== -->
    <!-- ====== Testimonials Start ====== -->
    <section id="testimonials" class="ud-testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ud-section-title mx-auto text-center">
                        <span>Testimonials</span>
                        <h2>What our Customers Say</h2>
                        <p>
                            We get customers with backgrounds as both just individuals and those approaching us from a firm. 
                            Reviews from established firms:
                        </p>
                    </div>
                </div>
            </div>
            <div class="row slideshow-container"style="height: 517px;align-self: center;">
                <div class="prev col-lg-1" style="align-self: center;text-align: center;" href="#testimonials" onclick="plusSlides(-1)">
                    <a class="ud-main-btn ud-white-btn noselect" style="min-width: 30px; height:100px; padding: 35px 0;"> < </a>
                </div>

                <div class="mySlides col-lg-10" style="font-size: large;line-height: 40px; padding: 1%;align-self: center;">
                    <div class="numbertext">
                        <b ><i>
                        Words cannot express how much I appreciate the work Genice and LV Process and Investigations has
                        done for me. I was very frustrated with our prior process server. My serves were not being 
                        returned to me in a timely manner and sometimes they were not even getting done! I was constantly 
                        calling to get updates and my calls were not being returned. It was time to make a change and 
                        then LVPI came into my work life! You have taken all those worries and frustrations away from me. 
                        I know that when I send something out for service, LVPI will have it back to me within a week and 
                        sometimes even days. I have never once had to ask for a status update. Instead, you give me 
                        constant updates upon receipt and service. I know that when I give LVPI a job to do it is going 
                        to get done, it’s going to be done correctly, and it will always be done on time, if not sooner. 
                        You have made my life so much easier and less stressful!  Whenever I have the chance, I tell 
                        everyone that they should use LVPI. Not only is LVPI great, but your prices are reasonable too!
                        I probably don’t say it enough, but THANK YOU for your hard work. It is much appreciated.</i></b>
                        
                    </div>
                    <h4 style="padding:3%">-Candice Salerno, Paralegal | Law Offices of Steven Burris</h4>
                </div>
                
                <div class="mySlides col-lg-10" style="font-size: large;line-height: 40px; padding: 1%;align-self: center;">
                    <div class="numbertext" >
                        <b><i>
                            I have been using Las Vegas Process & Investigations for almost 3 years, 
                            and I’ve never once been disappointed. The turn-around on process service 
                            is the fastest I’ve ever seen in Las Vegas/Clark County. I’ve never had to 
                            follow-up on an Affidavit of Service or to get the status of a skip-trace or 
                            background check. Genice has streamlined the process, making it as easy as possible 
                            to obtain service. Add in Genice’s super friendly, up-beat personality, and I 
                            couldn’t ask for more! I would never go anywhere else. Thank you LVPI for your 
                            continued amazing service!</i></b>
                        
                    </div>
                    <h4 style="padding:3%">-Jennifer F.</h4>
                </div>
                
                <div class="mySlides col-lg-10" style="font-size: large;line-height: 40px; padding: 1%;align-self: center;">
                    <div class="numbertext">
                        <b><i>
                            I have been practicing law in Nevada for almost 20 years and LV Process & 
                            Investigations is by far the best company I’ve had the pleasure of working with
                             for service of process.  I would definitely recommend their services for anyone 
                             in need of service of process.  They get the job done at a reasonable price and
                             great service.</i></b>
                        
                    </div>
                    <h4 style="padding:3%">-Afshin T.</h4>
                </div>

                <!-- Add button to navigate to testimonials page where user can submit own testimonial -->

                <div class="next col-lg-1" style="align-self: center;text-align: center;" href="#testimonials" onclick="plusSlides(1)">
                    <a class="ud-main-btn ud-white-btn noselect" style="min-width: 30px; height:100px; padding: 35px 0;"> > </a>
                </div>
                
            </div>
            <br>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="ud-section-title mx-auto text-center">
                        <p>
                            Want to see more testimonials or write your own? Head over to our testimonial page by clicking the button below.
                        </p>
                    </div>
                </div>
            </div>
            <ul style="align-self: center; text-align: center;" class="ud-white-btn">
                <li>
                    <a href="{% url 'testimonials' %}" rel="nofollow noopener" target="_blank" class="ud-main-btn ud-link-btn">
                        Testimonials <i class="lni"></i>
                    </a>
                </li>
            </ul>
            <br>
            <br>

            <!--
            <p style="padding:2%">
                Reviews from individuals:
            </p>
            <div class="row">
                <div class="row col-lg-6" style="align-self:center; text-align:center; width:75%">
                    <div style="align-self:center; text-align:center;" class="ud-single-testimonial wow fadeInUp"
                        data-wow-delay=".1s">
                        <div class="tagembed-container" style="align-self:center; text-align:center; width:100%;height:100%;overflow: auto;">
                            <div class="tagembed-socialwall" data-wall-id="32803" view-url="https://widget.tagembed.com/32803?view">  
                            </div> 
                            <script src="//widget.tagembed.com/embed.min.js" type="text/javascript"></script>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1" style="border: 2px;">
                    <h3>Submit your own review!</h3>
                </div>
            </div>
            -->
        </div>
    </section>
    <!-- ====== Testimonials End ====== -->
    <!-- ====== FAQ Start ====== -->
    <section id="faq" class="ud-faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ud-section-title text-center mx-auto">
                        <span>FAQ</span>
                        <h2>Any Questions? Answered</h2>
                        <p>
                            Here you can check some freuently asked questions that could possibly
                            align with your own.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
                        <div class="accordion">
                            <button class="ud-faq-btn collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne">
                                <span class="icon flex-shrink-0">
                                    <i class="lni lni-chevron-down"></i>
                                </span>
                                <span>Can we negotiate the prices?</span>
                            </button>
                            <div id="collapseOne" class="accordion-collapse collapse">
                                <div class="ud-faq-body">
                                    No. We use fixed rates to make transactions easier for all 
                                    involved parties.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
                        <div class="accordion">
                            <button class="ud-faq-btn collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo">
                                <span class="icon flex-shrink-0">
                                    <i class="lni lni-chevron-down"></i>
                                </span>
                                <span>How do I place an order and pay for it?</span>
                            </button>
                            <div id="collapseTwo" class="accordion-collapse collapse">
                                <div class="ud-faq-body">
                                    To place an order you can check out our 
                                    <a href="http://www.lvprocess.com/send-work/">place order</a> page 
                                    to fill out the required information pertaiing to your needs. To pay 
                                    for your order, you can head to our 
                                    <a href="http://www.lvprocess.com/payment/">make payement</a> page.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
                        <div class="accordion">
                            <button class="ud-faq-btn collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree">
                                <span class="icon flex-shrink-0">
                                    <i class="lni lni-chevron-down"></i>
                                </span>
                                <span>How long does it take for a first attempt to get done?</span>
                            </button>
                            <div id="collapseThree" class="accordion-collapse collapse">
                                <div class="ud-faq-body">
                                    Not all first attempts are created equal as some may provide more 
                                    hassle but you can expect a return in 24 to 72 hours.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
                        <div class="accordion">
                            <button class="ud-faq-btn collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour">
                                <span class="icon flex-shrink-0">
                                    <i class="lni lni-chevron-down"></i>
                                </span>
                                <span>Do I get progress notifications?</span>
                            </button>
                            <div id="collapseFour" class="accordion-collapse collapse">
                                <div class="ud-faq-body">
                                    You will get notifiactions for every attempt along with on completion.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
                        <div class="accordion">
                            <button class="ud-faq-btn collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive">
                                <span class="icon flex-shrink-0">
                                    <i class="lni lni-chevron-down"></i>
                                </span>
                                <span>How many attempts do I get?</span>
                            </button>
                            <div id="collapseFive" class="accordion-collapse collapse">
                                <div class="ud-faq-body">
                                    With your order you get 4 attempts. You get an attempt in the morning, night, weekend,
                                    and another for the afternoon.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
                        <div class="accordion">
                            <button class="ud-faq-btn collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix">
                                <span class="icon flex-shrink-0">
                                    <i class="lni lni-chevron-down"></i>
                                </span>
                                <span>Do you provide affidavit and notary?</span>
                            </button>
                            <div id="collapseSix" class="accordion-collapse collapse">
                                <div class="ud-faq-body">
                                    Yes. We provide affidavits and notaries.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== FAQ End ====== -->
    <!-- ====== Contact Start ====== -->
    <section id="contact" class="ud-contact">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-8 col-lg-7">
                    <div class="ud-contact-content-wrapper">
                        <div class="ud-contact-title">
                            <span>CONTACT US</span>
                            <h2>
                                Have questions? <br />
                                We'd love to hear from you!
                            </h2>
                        </div>
                        <div class="ud-contact-info-wrapper">
                            <div class="ud-single-info">
                                <div class="ud-info-icon">
                                    <i class="lni lni-map-marker"></i>
                                </div>
                                <div class="ud-info-meta">
                                    <h5>Our Location</h5>
                                    <p>10829 Whipple Crest Ave, Las Vegas, NV 89166</p>
                                </div>
                            </div>
                            <div class="ud-single-info">
                                <div class="ud-info-icon">
                                    <i class="lni lni-envelope"></i>
                                </div>
                                <div class="ud-info-meta">
                                    <h5>How Can We Help?</h5>
                                    <p>info@lvprocess.com</p>
                                    <p>702-592-3283</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="ud-contact-form-wrapper wow fadeInUp"
                         data-wow-delay=".2s">
                        <h3 class="ud-contact-form-title">Want to reach us from our webpage?</h3>
                        <div class="ud-form-group mb-0">
                            <p>
                                Head over to our specific 'Contact Us' page to quickly and easily get in contact with us.
                                From there, you can type in some information about yourself and your message to us 
                                to make it easier for us to get in contact with you so we can get back to you as fast as
                                possible. 

                            </p><br>
                            <ul style="align-self: center; text-align: center;" class="ud-white-btn">
                                <li>
                                    <a href="contact.html" rel="nofollow noopener" class="ud-main-btn ud-link-btn">
                                        Contact Us <i class="lni"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== Contact End ====== -->


    {% endblock %}