{% extends 'base.html' %}
{% load static %}
{% block title %}Pricing{% endblock %}

{% block content %}

    <!-- ====== Banner Start ====== -->
    <section class="ud-page-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-banner-content">
              <h1>Fee Schedule</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Banner End ====== -->
    
    <!-- ====== Pricing Start ====== -->
    <section id="pricing" class="ud-pricing">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-section-title mx-auto text-center">
              <span></span>
              <h2>Process Service</h2>
              <p>
                Notary and Affidavit of service or Due Dilligence is included in these services.
              </p>
            </div>
          </div>
        </div>

        <div class="row g-0 align-items-center justify-content-center">
          <div class="col-lg-4 col-md-6 col-sm-10">
            <div
              class="ud-single-pricing first-item wow fadeInUp"
              data-wow-delay=".15s" style="border-radius: 25px; border: 1px solid #662e90;"
            >
              <div class="ud-pricing-header">
                <h2>Out of Area</h2>
                <h3>Pahrump, Mesquite, Boulder City</h3>
              </div>
              <div class="ud-pricing-body">
                <ul>
                  <li>Routine, first Defendant per address – $110.00</li>
                  <li>Routine, per additional Defendants at the same address – $60.00</li>
                  <li>Rush serves on first Defendant per address (within 48 hours) – $155.00</li>
                  <li>Rush service per additional Defendants at the same address – $105.00</li>
                  <li>Rush Service over Holiday weekend – $200.00</li>
                </ul>
              </div>
              <div class="ud-pricing-footer">
                
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-10">
            <div
              class="ud-single-pricing active wow fadeInUp"
              data-wow-delay=".1s" style="border-radius: 25px;"
            >
              <div class="ud-pricing-header">
                <h2 style="color: white;">Local Serves</h2>
                <h3>Las Vegas, N Las Vegas, Henderson</h3>
                <br>
              </div>
              <div class="ud-pricing-body">
                <ul>
                  <li>Routine, first Defendant per address – $70.00</li>
                  <li>Routine, per additional Defendant at the same address – $45.00</li>
                  <li>Rush serves on first Defendant per address (within 48 hours) – $90.00</li>
                  <li>Rush service per additional Defendants at the same address – $60.00</li>
                  <li>Rush Service over Holiday weekend – $100.00</li>
                </ul>
              </div>
              <div class="ud-pricing-footer">
                
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-10">
            <div
              class="ud-single-pricing last-item wow fadeInUp"
              data-wow-delay=".15s" style="border-radius: 25px; border: 1px solid #662e90;"
            >
              <div class="ud-pricing-header">
                <h2>Carson City and Reno</h2>
              </div>
              <div class="ud-pricing-body">
                <ul>
                  <li>Routine, first Defendant per address – $85.00</li>
                  <li>Routine, per additional Defendants at the same address – $75.00</li>
                  <li>Rush – $115.00</li>
                  <li>Routine services to DMV, each Defendant – $90.00</li>
                  <li>Routine services through DMV, each Defendant – $120.00</li>
                  <li>Rush Service over Weekend/Holiday – $150.00</li>
                </ul>
              </div>
              <div class="ud-pricing-footer">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Pricing End ====== -->

    <!-- ====== FAQ Start ====== -->
    <section id="about" class="ud-about">
      <div class="container">
          <div class="ud-about-wrapper wow fadeInUp" style="border-radius: 10px" data-wow-delay=".2s">
            <section id="stuff" class="" style="padding-bottom:30px;">
              <div class="container">
                  <div class="row g-0 justify-content-center">
                      <div class="col-lg-3 col-md-6 col-xs-10">
                          <div class="ud-single-pricing first-item wow fadeInUp" data-wow-delay=".15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeInUp;">
                              <div class="ud-pricing-header">
                                  <h4><b>Research</b></h4>
                              </div>
                              <div class="ud-pricing-divider noselect">
                                  <img src=" /static/website/images/divider.png " alt="divide">
                              </div>
                              <ul>
                                  <li>DMV Search (Drivers’ License info and registration up to 2 vehicles) – $30.00
                                    additional vehicles over 2 – $15.00 each</li>
                                  <li>DMV Search – For Insurance Information (with TAR) – $55.00</li>
                                  <li>Skip Trace – $50.00</li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-1 ud-pricing-vert-divider noselect" style="margin-bottom: -20px;">
                          <img src=" /static/website/images/vert-divider.png " alt="divide">
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-10">
                          <div class="ud-single-pricing first-item wow fadeInUp" data-wow-delay=".15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeInUp;">
                              <div class="ud-pricing-header">
                                  <h4><b>Other Service</b></h4>
                              </div>
                              <div class="ud-pricing-divider noselect">
                                  <img src=" /static/website/images/divider.png " alt="divide">
                              </div>
                              <ul>
                                  <li>We will front checks for Subpoenas, DMV, SOS, Insurance Commissioner’s Office etc… No additional cost</li>
                                  <li>Mobile Notary – Travel fee before 7:00 pm (per hour, 2 hour minimum) – $10.00 per hour</li>
                                  <li>Mobile Notary – Travel fee after 7:00 pm (per hour, 2 hour minimum) – $25.00 per hour</li>
                                  <li>Mobile Notary – 1st Document – $15.00</li>
                                  <li>Mobile Notary – Each additional document – $7.50</li>
                                  <li>Asset Checks / Background search (2 hour minimum) – $100.00 per hour</li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-1 ud-pricing-vert-divider noselect" style="margin-bottom: -20px;">
                          <img src=" /static/website/images/vert-divider.png " alt="divide">
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-10">
                          <div class="ud-single-pricing first-item wow fadeInUp" data-wow-delay=".15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeInUp;">
                              <div class="ud-pricing-header">
                                  <h4><b>Court Runs</b></h4>
                              </div>
                              <div class="ud-pricing-divider noselect">
                                  <img src=" /static/website/images/divider.png " alt="divide">
                              </div>
                              <ul>
                                  <li>One pick-up day per week / per month $100.00</li>
                                  <br>
                                  <li>Two pick-up days per week / per month $200.00</li>
                                  <li>Three pick-up days per week / per month $300.00</li>
                                  <li>Four pick-up days per week / per month $400.00</li>
                                  <li>Five pick-up days per week / per month $500.00</li>
                                  <li>For on call runs, please notify us at least 24 hours in advance. Fee for on call runs are $15.00 per run.</li>
                                  <li>Rush runs are an additional fee of $40.00.</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          </div>
      </div>
  </section>
    <!-- ====== FAQ End ====== -->

 {% endblock %}